In [0]:
%spark2.pyspark
from datetime import datetime, timedelta

today = datetime.today().date()
yesterday = today - timedelta(days=1)

# menampilkan tanggal kemarin dalam format yyyy-mm-dd
print(yesterday.strftime('%Y-%m-%d'))

print("Today's date:", today)
print("Yesterday's date:", yesterday)

In [1]:
%spark2.pyspark

sqlquery = f"""SELECT 
  GJH.JE_HEADER_ID,  
  GJH.BATCH_NAME, 
  GJH.NAME JOURNAL_NAME, 
  GJH.JE_SOURCE, 
  GJH.JE_CATEGORY, 
  GJH.DESCRIPTION HDR_DESCRIPTION, 
  GJH.BATCH_POSTED_DATE, 
  GJH.CREATION_DATE, 
  GJH.CURRENCY_CODE, 
  GJH.RUNNING_TOTAL_DR, 
  GJH.RUNNING_TOTAL_CR, 
  GJH.RUNNING_TOTAL_ACCOUNTED_DR, 
  GJH.RUNNING_TOTAL_ACCOUNTED_CR, 
  GJH.LEDGER_ID, 
  GJH.PERIOD_NAME, 
  GJH.STATUS HDR_STATUS, 
  GJL.JE_LINE_NUM, 
  GJL.SEGMENT2 KODE_PP, 
  GJL.SEGMENT3 ACCOUNT, 
  GJL.SEGMENT4 SUB_ACCOUNT, 
  CASE WHEN GJL.SEGMENT4 = '00' THEN (
    SELECT 
      FFVL.DESCRIPTION 
    FROM 
      FND_FLEX_VALUES_VL FFVL 
    WHERE 
      FFVL.FLEX_VALUE_SET_ID = 1014176 
      AND FFVL.FLEX_VALUE = GJL.SEGMENT3
  ) ELSE (
    SELECT 
      FFVL.DESCRIPTION 
    FROM 
      FND_FLEX_VALUES_VL FFVL 
    WHERE 
      FFVL.FLEX_VALUE_SET_ID = 1014176 
      AND FFVL.FLEX_VALUE = GJL.SEGMENT3
  )|| '-' || (
    SELECT 
      FFVL.DESCRIPTION 
    FROM 
      FND_FLEX_VALUES_VL FFVL 
    WHERE 
      FFVL.FLEX_VALUE_SET_ID = 1014177 
      AND FFVL.PARENT_FLEX_VALUE_LOW = GJL.SEGMENT3 
      AND FFVL.FLEX_VALUE = GJL.SEGMENT4
  ) END ACCOUNT_DESC, 
  (
    GJL.SEGMENT1 || '.' || GJL.SEGMENT2 || '.' || GJL.SEGMENT3 || '.' || GJL.SEGMENT4 || '.' || GJL.SEGMENT5 || '.' || GJL.SEGMENT6
  ) GL_ACCOUNT, 
  GJL.DESCRIPTION LINE_DESCRIPTION, 
  GJL.ACCOUNTED_DR, 
  GJL.ACCOUNTED_CR, 
  GJL.STATUS, 
  FU.USER_NAME ENTERED_BY 
FROM 
  GL_JE_HEADERS_V GJH, 
  GL_JE_LINES_V GJL, 
  GL_JE_BATCHES GJB, 
  FND_USER FU, 
  GL_LEDGERS GL 
WHERE 
  GJH.LEDGER_ID = GL.LEDGER_ID 
  AND GJH.JE_HEADER_ID = GJL.JE_HEADER_ID 
  AND GJH.JE_BATCH_ID = GJB.JE_BATCH_ID (+) 
  AND GJH.CREATED_BY = FU.USER_ID 
  AND GJH.STATUS = 'P' 
  AND trunc(GJH.BATCH_POSTED_DATE) between to_date('{yesterday}', 'YYYY-MM-DD') and to_date('{yesterday}', 'YYYY-MM-DD')"""

In [2]:
%spark2.pyspark

jdbcDF = spark.read.format('jdbc').option('url', 'jdbc:oracle:thin:@10.206.130.140:1541/PRDGG')\
    .option('user', 'GGGGAPPSRO')\
    .option('dbtable',f"({sqlquery})") \
    .option('password', 'k3d1r1')\
    .option('driver', 'oracle.jdbc.driver.OracleDriver')\
    .load()

In [3]:
%spark2.pyspark
from pyspark.sql.types import StringType, DateType, FloatType, DecimalType, IntegerType

for column in jdbcDF.columns:
    jdbcDF = jdbcDF.withColumnRenamed(column, column.lower())

jdbcDF = jdbcDF \
    .withColumn("je_header_id" , jdbcDF["je_header_id"].cast(StringType()))\
    .withColumn("running_total_dr" , jdbcDF["running_total_dr"].cast(DecimalType(38, 18)))\
    .withColumn("running_total_cr" , jdbcDF["running_total_cr"].cast(DecimalType(38, 18)))\
    .withColumn("running_total_accounted_dr" , jdbcDF["running_total_accounted_dr"].cast(DecimalType(38, 18)))\
    .withColumn("running_total_accounted_cr" , jdbcDF["running_total_accounted_cr"].cast(DecimalType(38, 18)))\
    .withColumn("ledger_id" , jdbcDF["ledger_id"].cast(StringType()))\
    .withColumn("je_line_num" , jdbcDF["je_line_num"].cast(StringType()))\
    .withColumn("accounted_dr" , jdbcDF["accounted_dr"].cast(DecimalType(38, 18)))\
    .withColumn("accounted_cr" , jdbcDF["accounted_cr"].cast(DecimalType(38, 18)))
    
jdbcDF.printSchema()

In [4]:
%spark2.pyspark

jdbcDF.write.format("parquet") \
    .option("transactional", "false") \
    .mode("append") \
    .saveAsTable("dev_gl_storage.dev_gl")

In [5]:
%spark2.sql

DROP TABLE if exists datamart_gl_budget.GL_AGGS ;

CREATE TABLE datamart_gl_budget.GL_AGGS AS
SELECT '20'||SUBSTR(PERIOD_NAME,-2) YEAR
 ,CASE SUBSTR(PERIOD_NAME,1,3)
 WHEN 'JAN' THEN '01'
 WHEN 'FEB' THEN '02'
 WHEN 'MAR' THEN '03'
 WHEN 'APR' THEN '04'
 WHEN 'MAY' THEN '05'
 WHEN 'JUN' THEN '06'
 WHEN 'JUL' THEN '07'
 WHEN 'AUG' THEN '08'
 WHEN 'SEP' THEN '09'
 WHEN 'OCT' THEN '10'
 WHEN 'NOV' THEN '11'
 WHEN 'DEC' THEN '12'
 END MONTH
 ,KODE_PP
 ,ACCOUNT
 ,COUNT(1) ROW_COUNT
 ,SUM(coalesce(ACCOUNTED_DR,0)) AS TOTAL_ACCOUNTED_DR
 ,SUM(coalesce(ACCOUNTED_CR,0)) AS TOTAL_ACCOUNTED_CR
 FROM dev_gl_storage.dev_gl
GROUP BY '20'||SUBSTR(PERIOD_NAME,-2)
 ,CASE SUBSTR(PERIOD_NAME,1,3)
 WHEN 'JAN' THEN '01'
 WHEN 'FEB' THEN '02'
 WHEN 'MAR' THEN '03'
 WHEN 'APR' THEN '04'
 WHEN 'MAY' THEN '05'
 WHEN 'JUN' THEN '06'
 WHEN 'JUL' THEN '07'
 WHEN 'AUG' THEN '08'
 WHEN 'SEP' THEN '09'
 WHEN 'OCT' THEN '10'
 WHEN 'NOV' THEN '11'
 WHEN 'DEC' THEN '12'
 END
 ,KODE_PP
 ,ACCOUNT

In [6]:
%spark2.sql

DROP TABLE if exists datamart_gl_budget.GL_FACT;

CREATE TABLE datamart_gl_budget.GL_FACT AS
SELECT gl.year
 ,gl.month
 ,gl.kode_pp
 ,gl.account
 ,coalesce(gl.total_accounted_dr, 0) total_accounted_dr
 ,coalesce(gl.total_accounted_cr, 0) total_accounted_cr
 ,coalesce(bg.budget, 0) total_budget
 ,coalesce(coalesce(gl.total_accounted_dr-gl.total_accounted_cr, 0)) total_expense
 ,coalesce(coalesce(bg.budget, 0)-(coalesce(gl.total_accounted_dr, 0)-coalesce(gl.total_accounted_cr, 0)),0) available
 FROM datamart_gl_budget.gl_aggs gl
FULL JOIN budget.budget_transform bg
 ON (gl.month=bg.month AND gl.kode_pp=bg.department_id AND
gl.account=bg.account_id AND gl.year=bg.year);

In [7]:
%spark2.sql

drop table if exists datamart_gl_budget.olap_cube;
CREATE TABLE datamart_gl_budget.OLAP_CUBE AS SELECT to_date
(from_unixtime(unix_timestamp(glf.year||'-'||glf.month||'-'||'01','yyyy-MM-dd'))) as period_name
 ,glf.kode_pp
 ,glf.year
 ,glf.month
 ,dept.name AS department_name
 ,glf.account
 ,act.name AS account_name
 ,glf.total_accounted_dr
 ,glf.total_accounted_cr
 ,glf.total_budget
 ,glf.total_expense
 ,glf.available
 FROM datamart_gl_budget.gl_fact glf
LEFT JOIN dimension.department dept
 ON (glf.kode_pp=dept.id)
LEFT JOIN dimension.account act
 ON (glf.account=act.id);